.imgg{
    width: 400px;
    height: 500px;
}
body{
    background-image:url(../images/IMG_20220430_171250.jpg); 
    background-size: cover;   
     margin: 0px;
    width: 700px;
    height: 3750px;
    
  
}
.h11{
    background-color: transparent;
    color: white;
    display: inline;
    font-size: 70px;
    display: flex;
    margin-left: 509px;
    margin-top: -400px;
    

}

.h1{
    background-color: transparent;
    border-bottom:  20px solid  rgb(68, 14, 14);
    border-right:  20px solid rgb(68, 14, 14);
    width: 1000px;
    margin-left: 20px;
    font-style: normal;
}
.intro{
    font-size: xx-large; 
    color: white; 
    margin-top: 120px;
    margin-left: 30px;
    transition: 0.5s;
}
.div1{
    width: 800px;
    height: 500px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid  rgba(111, 51, 51, 0.803);
    transition: 0.5s;
    margin-top: 251px;
}
.para{
    color: white;
    font-size: x-large;
    margin-left: 5px;
}
mark{
    background-color: rgba(232, 120, 120, 0.816);
}
.family{
    width: 800px;
    height: 400px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(111, 51, 51, 0.803);
    transition: 0.5s;
    

}
.familyphoto{
    width: 471px;
    height: 520px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(111, 51, 51, 0.803);
    transition: 0.5s;
}
.plays{
    width: 872px;
    height: 280px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(111, 51, 51, 0.803);
    transition: 0.5s;
}
.poems{
    width: 500px;
    height: 477px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid  rgba(111, 51, 51, 0.803);
    transition: 0.5s;
}

.plays:hover{
    
    height: 340px;
    background-color: #6c504d;

}
.shakss:hover{
    height: 230px;
}
.intro:hover{
    border-bottom: 10px solid rgba(111, 51, 51, 0.803) ;
    width: 380px;
}
.familyphoto:hover{
    height: 560px;
    background-color: #6c504d;
}
.poems:hover{
    height: 540px;
    background-color: #6c504d;
}
.family:hover{
    
    background-color: #6c504dcd;
}
.div1:hover{
    
    background-color: #6c504dc0;
}
.footteer{
    width: 1370px;
    height: 400px;
}
.heaadder{
    width: 1370px;
}