#test1{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    height: 600px;
    width: 600px;
    display: inline-block;
    padding-left: 10px;
    cursor: default;
}
#a{
    height: 45px; 
    padding-top: 10px;
}
.b{
    height: 40px;
}
.bb{
    border-radius: 20px;
    padding-left: 6px;
    border-color: rgb(2, 2, 121);
    width: 250px;
    
}
#c{
    height: 40px;

}
#cd{
    height: 270px;
    line-height: 25px;
}
.ee{
    border-radius: 10px;
    border-color: rgb(138, 138, 225);
    background-color: rgb(55, 55, 188);
    font-weight: bolder;
    margin-left: 7px;
    margin-top: 10px;
    padding: 7px;
    width: 180px;
    color: beige;
    display: inline-block;
    cursor: pointer;
}
#abc{
    color: rgb(3, 3, 107);
}
#d{
    padding-left: 5px;
    margin-top: 10px;
}
#d2{
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 3px;
}
#ff{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-size: 450px 450px;
    background-repeat: no-repeat;    
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background-image: url(../images/photo7.jpeg); 
   
}
#f{
    background-image: url("../images/photo9.jpg");
    /*background-color: rgb(130, 240, 235);*/
    border-radius: 10px;
}
div .ee:hover{
    width: 250px;
    font-size: larger;
    background-color: rgb(55, 55, 188);
    color: whitesmoke;
}
div .ddd1:hover{
    background-color: rgb(184, 179, 179);
    width: 220px;
}
#choice{
    margin-top: 10px;
}
#btn .btn1{
    margin-top: 10px;
    margin-left: 40px;
    width: 250px;
    border-radius: 20px;
    padding-left: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* maintheme */
body         { background-color: #B8D8E3 }

h1           { font-family: Berlin Sans FB, Franklin Gothic Medium, sans-serif; font-size: 13pt; color: #1E1964; text-align: center; 
                font-weight:normal; margin-top:0; margin-bottom:0; background-color: #E6CED0 }

h2           { font-family: Times New Roman, Bodoni MT, serif; font-size: 13pt; color: #1E1964; font-weight: bold; 
               margin-top:0; margin-bottom:0; text-indent: 9; line-height: 150%; background-color: #EFE4E6 }

h3           { font-family: Ink Free, Lucida Handwriting, Bradley Hand ITC; font-size: 16pt; color: #BD1B90; 
               font-weight: bold; margin-top:0; margin-bottom:0; text-align: left }
               
h4           { font-family: Berlin Sans FB, Franklin Gothic Medium, sans-serif; font-size: 15pt; color: #1E1964; text-align: left; 
                font-weight:normal; margin-top:0; margin-bottom:0; margin-right: 3px; background-color: #E6CED0 }

p            { font-family: Times New Roman, Bodoni MT, serif; font-size: 13pt; color: #1E1964; font-weight: 
               bold; text-indent: 9; text-align: left; line-height: 150% }

table        { background-color: #F5F4EF; border-style: none;  }

th           { background-color: #E6CED0; border-style: none; border-radius: 5px; height: 20px}

td			 { border:1px solid #E6C3D0; border-radius: 5px; background-color: #E6CED0; margin-bottom: 2px }

* {margin: 0; padding: 0; box-sizing: border box;}

.container {background-color: #F5F4EF; display: flex; align-items: center; justify-content: center;}
			
.search-bar {width: 100%; max-width: 800px; background: rgba(184, 216, 227, 0.3); display: flex; align-items: center; border-radius: 60px; padding: 6px 10px;}
			
.search-bar input {background: transparent; flex: 1; border: 0; outline: none; padding: 6px 6px; font-size: 13pt; color: #1E1964;}
			
::placeholder {color: #1E1964;}

.search-bar button img {width: 18px;}

.search-bar button {border: 0; border-radius:50%; width: 30px; height:  30px; background: #BD1B90; cursor: pointer;}

.header-hover {background-color: #E6CED0;}

.header-hover:hover {color: #BD1B90;}

.account-hover {background-color: #F5F4EF;}

.account-hover:hover {background: rgba(184, 216, 227, 0.5); border-radius: 5px; margin: 3px 5px 3px 5px}

.shortcut-hover {background-color: #F5F4EF;}

.shortcut-hover:hover {background: rgba(184, 216, 227, 0.5); border-radius: 5px; margin: 0px 10px 0px 10px}

.footer-hover {background-color: #EFE4E6;}

.footer-hover:hover {text-decoration: underline;}

.social a {color: #1E1964; text-decoration: none;}

.social a:hover {color: #BD1B90;}
