#k{
    background-image: url("../images/photo10.jpg");
    background-repeat: repeat-y;
    border-radius: 10px;
}

.btn{
    width: 230px;
    margin-left: 80px;
    background-color: #f4c5ec;
    border-radius: 12px;
    margin-top: 8px;
    font-weight: bolder;
    font-size: 20px;
}

#k1{
    height: 15px;
}
#k2{
    height: 7px;
}
#l{
    margin-left: 130px;
    margin-right: 70px;
    border-radius: 10px;
    padding-left: 350px;

}
.title{
    font-size: xx-large;
}
.m{
    /*background-color: rgb(254, 233, 231) ;*/
    margin-left: 70px;
    background-color: rgb(252, 230, 250);
    margin-right: 70px;
    border-radius: 10px;
    margin-bottom: 17px;
}
.governorate{
    padding-left: 10px;
    padding-top: 2px;
    font-size: 25px;
    padding-bottom: 7px;
    
}
.governorate p{
    font-size: larger;
}
.town{
    padding-left: 22px;
    font-size: 24px;
    font-size: larger;
}
.town2{
    font-size: larger;
}
.town .address{
    font-size: larger;
    padding-left: 10px;
}
.m3{
    padding-left: 19px;
}
.m4{
    border-radius: 10px;
    margin-left: 250px;
    border-color: rgb(52, 2, 60);
}

/*main theme*/

body         { background-color: #B8D8E3 }

h1           { font-family: Berlin Sans FB, Franklin Gothic Medium, sans-serif; font-size: 13pt; color: #1E1964; text-align: center; 
                font-weight:normal; margin-top:0; margin-bottom:0; background-color: #E6CED0 }

h2           { font-family: Times New Roman, Bodoni MT, serif; font-size: 13pt; color: #1E1964; font-weight: bold; 
               margin-top:0; margin-bottom:0; text-indent: 9; line-height: 150%; background-color: #EFE4E6 }

h3           { font-family: Ink Free, Lucida Handwriting, Bradley Hand ITC; font-size: 16pt; color: #BD1B90; 
               font-weight: bold; margin-top:0; margin-bottom:0; text-align: left }
               
h4           { font-family: Berlin Sans FB, Franklin Gothic Medium, sans-serif; font-size: 15pt; color: #1E1964; text-align: left; 
                font-weight:normal; margin-top:0; margin-bottom:0; margin-right: 3px; background-color: #E6CED0 }

p            { font-family: Times New Roman, Bodoni MT, serif; font-size: 13pt; color: #1E1964; font-weight: 
               bold; text-indent: 9; text-align: left; line-height: 150% }

table        { background-color: #F5F4EF; border-style: none;  }

th           { background-color: #E6CED0; border-style: none; border-radius: 5px; height: 20px}

td			 { border:1px solid #E6C3D0; border-radius: 5px; background-color: #E6CED0; margin-bottom: 2px }

* {margin: 0; padding: 0; box-sizing: border box;}

.container {background-color: #F5F4EF; display: flex; align-items: center; justify-content: center;}
			
.search-bar {width: 100%; max-width: 800px; background: rgba(184, 216, 227, 0.3); display: flex; align-items: center; border-radius: 60px; padding: 6px 10px;}
			
.search-bar input {background: transparent; flex: 1; border: 0; outline: none; padding: 6px 6px; font-size: 13pt; color: #1E1964;}
			
::placeholder {color: #1E1964;}

.search-bar button img {width: 18px;}

.search-bar button {border: 0; border-radius:50%; width: 30px; height:  30px; background: #BD1B90; cursor: pointer;}

.header-hover {background-color: #E6CED0;}

.header-hover:hover {color: #BD1B90;}

.account-hover {background-color: #F5F4EF;}

.account-hover:hover {background: rgba(184, 216, 227, 0.5); border-radius: 5px; margin: 3px 5px 3px 5px}

.shortcut-hover {background-color: #F5F4EF;}

.shortcut-hover:hover {background: rgba(184, 216, 227, 0.5); border-radius: 5px; margin: 0px 10px 0px 10px}

.footer-hover {background-color: #EFE4E6;}

.footer-hover:hover {text-decoration: underline;}

.social a {color: #1E1964; text-decoration: none;}

.social a:hover {color: #BD1B90;}

